<div class="container">
	<div class="row">
		<div class="center col-sm-12">
			<h1 class="text-center">Eat-Da-Burger!</h1>
			<p></p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">

			<br>
			<h2>What burgers would you like to devour?</h2>

			<ul>
				{{#each burgers}}
				{{#unless this.devoured}}
				<li>
					{{this.id}}
					{{this.burger_name}}

					<form action="/{{this.id}}?_method=PUT" method="POST">
						<input type="hidden" name="devoured" value="true">
						<button class="btn btn-danger" type="submit">Devour it</button>
					</form>

				</li>
				{{/unless}}
				{{/each}}
			</ul>

		</div>

		<div class="col-sm-6">

			<h2>Burgers that have been devoured!</h2>

			{{#each burgers}}
			{{#if this.devoured}}
			<li>
				{{this.id}}
				{{this.burger_name}}

			</li>
			{{/if}}
			{{/each}}

		</div>

	</div>

	<div class="row">
		<div class="center col-sm-12">

			<h2>Add A Burger!</h2>

			<form class="create-update-form" action="/" method="POST">

				<div class="form-group">
					<p>Submit a burger of your choice.</p>
					<input type="text" id="ca" name="burger_name">
				</div>
       {{!-- Pseudocode:after submitting the name of the burger, it should devour the burger after clicking on devour it --}}
				<button class="btn-primary" type="submit">Submit Order</button>
			</form>

		</div>

	</div>

</div>